.App {
  text-align: center;
  font-family: 'Humanist sans-serif';
  background-color: rgb(225, 250, 250);
  margin: auto;
}

.home-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px; 
  background-color:rgb(253, 253, 252);
  border-radius: 5%;
  text-align: center;
  font-family: 'Humanist sans-serif';
  border: 2px solid rgb(55, 191, 199); 
  padding: 2%;
  
}

.home-page-tasks {
  margin: auto;
  float: center;
}

.home-video{
  /* margin: auto; */
  /* height: 300px;
  width: 500px;
  margin-bottom: 30px;
  margin-top: 30px; */
  width: 100%;
  aspect-ratio: 16 / 9;
}

.logo {
  margin: auto;
  margin-top: 12px;
}

.speak2me-banner {
  background-color: black;
}

.error-card {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: red;
}

.nav-bar {
  background-color: rgb(4, 207, 196);
  display: flex;
  justify-content: space-evenly;
  max-height: 80px;
}

.nav-link {
  color: black;
  font-family: 'Humanist sans-serif';
  font-size: medium;
  margin: auto;
  padding: 2%;
}

.nav-link:hover {
  background: #0c7c79;
  color: #fff;
}

.greeting {
  color: rgb(2, 2, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  font-weight: bolder;
  justify-content: space-evenly;
  margin-left: 30px;
}

.login-signup-form {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(251, 253, 252);
  padding: 1%;
  max-width: 300px;
  margin: auto;
  text-align: justify;
  font-family: 'Humanist sans-serif';
  font-size: medium;
}

.username-container{
  width: 300px;
  position: relative;
}

.password-container{
  width: 300px;
  position: relative;
}

.signup-container {
  width: 300px;
  position: relative;
}
 
.toggle-eye {
  position: absolute;
  top: 10%;
  right: 51%;
  cursor: pointer;
  color: rgb(175, 173, 173);
}

.speech-tasks-container {
  justify-content: space-around;
  margin: auto;
}

.speech-task-card {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: 2px solid black; 
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgb(166, 242, 241), rgb(243, 241, 244));
  background-color: rgb(248, 222, 240);
  padding: 10px;
  width: 300px;
  height: 250px;
  margin: auto;
  margin-left: 200px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  float: left;
  border-radius: 2%;
}

.task-card {
  justify-content: center; 
  text-align: center;
  border: 2px solid black; 
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(248, 222, 240);
  background-image: linear-gradient(rgb(166, 242, 241), rgb(243, 241, 244));
  padding: 0px;
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.task-form {
  border: 2px solid black; 
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-image: linear-gradient(rgb(166, 242, 241), rgb(243, 241, 244));
  font-size: 18px;
  font-family: 'Humanist sans-serif';
  font-size: medium;
  flex-grow: inherit;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
  border-radius: 5%;
  padding: 2%;
}
.task-item {
  margin: auto;
  padding: 2%;
}

.task-item:hover {
  background: #b4b2b2;
  color: #fff;
  margin: auto;
}

.edit-form {
  margin: auto;
  width: 500px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(225, 250, 250);
  padding: 1%;
  border: 2px solid #77c1c6;
}

.button-container {
  justify-content: space-between;
}

.edit-button {
  border-radius: 5px;
  background-color: rgb(247, 118, 5);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 5px;
}

.complete-button {
  border-radius: 5px;
  background-color: rgb(39, 206, 27);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 5px;
}

.cancel-button {
  border-radius: 5px;
  background-color: rgb(209, 13, 9);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 5px;
}

.chat-messages {
  border: 2px solid #a8aab3;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 0px;
  margin: auto;
  height: max-content;
  width: 400px;
  font-family: 'Humanist sans-serif';
  text-align: center;
  padding: 2%;
  margin-top: 30px;
}

.chat-header {
  width: 600px;
  margin: auto;
  margin-top: 30px;
}

.messages:nth-of-type(odd) {
  background: #bae8f1;
}